/xinfo-msrv-activiti/*
/xinfo-msrv-admin/*
.idea/*
/target/*


/xinfo-msrv-api/
/xinfo-msrv-base/
/xinfo-msrv-baseweb/
/xinfo-msrv-configserver/
/xinfo-msrv-data-migrate-bak/
/xinfo-msrv-data-migrate.zip
.classpath
.project
.settings/
*.bak
/xinfo-msrv-data-migrate/target/
/xinfo-msrv-datamigration/
/xinfo-msrv-dataview/
/xinfo-msrv-demo/
/xinfo-msrv-digitalimage/
/xinfo-msrv-hystrixdashboard/
/xinfo-msrv-logging-audit/
/xinfo-msrv-logging/
/xinfo-msrv-oauth2/
/xinfo-msrv-patrol/
/xinfo-msrv-resource-share/
/xinfo-msrv-scheduled/
/xinfo-msrv-smsc/
/xinfo-msrv-streaming-logging/
/xinfo-msrv-sugar/
/xinfo-msrv-tts/
/xinfo-msrv-websocket/
/xinfo-msrv-xsweb/
/xinfo-msrv-zipkinserver/
/xinfo-msrv-zuulserver/
*.iml
*/target/*