<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyi.xinfo.domain.repository.TabDataMigrateSourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinyi.xinfo.domain.model.TabDataMigrateSource">
        <result column="source_id" property="sourceId" />
        <result column="source_type" property="sourceType" />
        <result column="driver_class" property="driverClass" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="url" property="url" />
        <result column="remarks" property="remarks" />
        <result column="enable" property="enable" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        source_id, source_type, driver_class, user_name, password, url, remarks, enable, user_id
    </sql>


    <insert id="addDataSource" parameterType="com.xinyi.xinfo.domain.model.DataSource">
        insert into XY_DATAVIEW.TAB_DATA_MIGRATE_SOURCE values
        (XY_DATAVIEW.SEQ_TAB_DATA_MIGRATE_SOURCE.nextval,#{sourceType,jdbcType=VARCHAR}, #{driverClass,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},  #{password,jdbcType=VARCHAR},  #{url,jdbcType=VARCHAR},  #{remarks,jdbcType=VARCHAR},1,#{userId,jdbcType=VARCHAR})
    </insert>
</mapper>
